---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/project-card.astro";

import chapter1Mp4 from "/videos/chapter-1.mp4";
---

<Layout title="Playground">
  <main class="min-h-screen w-full px-5">
    <div
      class="mx-auto flex h-screen w-full max-w-[1536px] items-center justify-center"
    >
      <ProjectCard
        href="/chapter-1"
        src={chapter1Mp4}
        title="Newton Balls"
        gsap
        threejs
      />
    </div>
  </main>
</Layout>
