---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/project-card.astro";

import cardHelixMp4 from "/videos/card-helix.mp4";
import chapter1Mp4 from "/videos/chapter-1.mp4";
import chapter2Mp4 from "/videos/chapter-2.mp4";
import variableFontsMp4 from "/videos/variable-fonts.mp4";
---

<Layout title="Playground">
  <main class="min-h-screen w-full px-5">
    <div
      class="mx-auto flex h-screen w-full max-w-[1536px] items-center justify-center"
    >
      <ul class="grid grid-cols-3 items-center justify-center gap-x-6 gap-y-4">
        <ProjectCard
          href="/threejs-journey/chapter-1"
          src={chapter1Mp4}
          title="Chapter 1 - Three.js Journey"
          gsap
          threejs
        />
        <ProjectCard
          href="/variable-fonts"
          src={variableFontsMp4}
          title="Variable Fonts"
          css
        />
        <ProjectCard
          href="/card-helix"
          src={cardHelixMp4}
          title="Card Helix"
          motion
        />
        <ProjectCard
          href="/threejs-journey/chapter-2"
          src={chapter2Mp4}
          title="Chapter 2 - Three.js Journey"
          threejs
        />
      </ul>
    </div>
  </main>
</Layout>
