---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Playground">
  <main class="min-h-screen w-full">
    <div class="flex h-screen w-full items-center justify-center">
      <ul class="list-disc text-white">
        <li>
          <a href="/chapter-1" class="hover:underline focus:underline"
            >Chapter 1</a
          >
        </li>
        <li>
          <a href="/variable-fonts" class="hover:underline focus:underline"
            >Variable Fonts</a
          >
        </li>
      </ul>
    </div>
  </main>
</Layout>
