---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Playground">
  <main class="min-h-screen w-full">
    <div class="w-full h-screen flex justify-center items-center">
      <ul class="list-disc text-white">
        <li>
          <a href="/chapter-1" class="hover:underline focus:underline">Chapter 1</a>
        </li>
      </ul>
    </div>
  </main>
</Layout>
