---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Variable Fonts | Playground">
  <main class="min-h-screen w-full px-5">
    <div class="mx-auto w-full max-w-6xl">
      <div class="flex h-screen w-full items-center justify-center gap-x-6">
        <div class="flex flex-col gap-y-6">
          <div
            id="green-pink-container"
            class="font-roboto flex flex-col items-center justify-center overflow-clip bg-[#1c7511] p-6 text-xl/[70%] text-[#ff98fb]"
          >
            {
              Array(19)
                .fill(null)
                .map((_, idx) => (
                  <div>
                    {Array(29)
                      .fill(null)
                      .map((_, idx2) =>
                        // prettier-ignore
                        <span style={{"--delay": `${Math.abs(idx2 - (Math.floor(29 / 2))) * 0.1 + Math.abs(idx - (Math.floor(19 / 2))) * 0.2}s`}}>a</span>,
                      )}
                  </div>
                ))
            }
          </div>
          <div
            id="red-yellow-container"
            class="font-roboto flex flex-col items-center justify-center overflow-clip bg-[#ff0b00] p-6 text-xl/[70%] text-[#ffce2e]"
          >
            {
              Array(19)
                .fill(null)
                .map((_, idx) => (
                  <div>
                    {Array(29)
                      .fill(null)
                      .map((_, idx2) =>
                        // prettier-ignore
                        <span style={{"--delay": `${((29 / 2) - Math.abs(idx2 - 29 / 2)) * 0.1 + Math.abs(idx - (Math.floor(19 / 2))) * 0.2}s`}}>a</span>,
                      )}
                  </div>
                ))
            }
          </div>
        </div>
        <div
          id="blue-orange-container"
          class="font-roboto flex flex-col items-center justify-center overflow-clip bg-[#0000cb] p-8 text-center text-2xl/[70%] text-[#ff6200]"
        >
          {
            Array(5)
              .fill(null)
              .map((_, idx) => (
                <div>
                  {Array(7)
                    .fill(null)
                    .map((_, idx2) => (
                      <div
                        class:list={[idx % 2 === 1 && "flex flex-row-reverse"]}
                      >
                        {Array(48)
                          .fill(null)
                          .map((_, idx3) =>
                            // prettier-ignore
                            <span style={{"--delay": `${idx3 * 0.1 + idx2 * 0.275}s`}}>a</span>,
                          )}
                      </div>
                    ))}
                </div>
              ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  #green-pink-container span,
  #red-yellow-container span,
  #blue-orange-container span {
    animation: 1.2s linear infinite forwards fontLoop;
    animation-delay: calc(var(--delay) * -1);
  }

  @keyframes fontLoop {
    0%,
    100% {
      font-variation-settings:
        "wght" 900,
        "wdth" 100;
    }

    50% {
      font-variation-settings:
        "wght" 100,
        "wdth" 75;
    }
  }
</style>
