---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Variable Fonts | Playground">
  <main class="min-h-screen w-full">
    <div class="flex h-screen w-full items-center justify-center">
      <div
        class="flex h-96 w-96 items-center justify-center bg-[#0000cb] text-2xl text-[#ff6200]"
      >
        a
      </div>
    </div>
  </main>
</Layout>
